<!DOCTYPE html>
<head>
	<title>Rocket Elevators - Bâtiments Corporatifs</title>
    <meta name="description" content="Rocket Elevators - Bâtimments Corporatifs" />
    <meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
 
        <script>
			/*if (document.cookie === "EN" && document.location.href != "../en/corporate-buildings") {
				document.location.href = "../en/corporate-buildings";
			}
			else if (document.cookie === "FR" && document.location.href != "../fr/batiments-corporatifs") {
				document.location.href = "../fr/batiments-corporatifs";
			}*/
			function switchLanguage(value) {
				document.cookie = value;
				if (value === "EN") document.location.href = '../en/corporate-buildings';
				else return;
			}
        </script>
</head>
<body  class="enable-animation">
    <!-- wrapper -->
    <div id="wrapper">
        <div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <a class="logo float-left" href="../fr">
                        <img src="../assets/R2.png" alt="Rocket Elevator Logo">
                    </a>
                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">
                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage external">
                                <li class="active hovered"><!-- HOME -->
                                    <a style="color: rgb(255,255,255);" href="../fr">
                                        PAGE D'ACCUEIL
                                    </a>
                                </li>
                                <li class="hovered"><!-- SERVICES -->
                                    <div class="dropdown dropbtn rotate">
                                        <a class="h-25" style="color: rgb(255,255,255);" href="../fr#services">
                                            SERVICES &nbsp; <i class="fa fa-angle-right"></i>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="./batiments-residentiels">Bâtiments Résidentiels</a>
                                            <a href="./batiments-corporatifs">Bâtiments Corporatifs</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="hovered"><!-- ATTRIBUTIONS -->
                                    <a style="color: rgb(255,255,255);" href="../fr#attributions">
                                        ATTRIBUTIONS
                                    </a>
                                </li>
                                <li class="hovered"><!-- NEWS -->
                                    <a style="color: rgb(255,255,255);" href="../fr#actualites">
                                        ACTUALITÉS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CLIENTS -->
                                    <a style="color: rgb(255,255,255);" href="../fr#clients">
                                        CLIENTS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CONTACT -->
                                    <a style="color: rgb(255,255,255);" href="../fr#contact">
                                        CONTACT
                                    </a>
                                </li>
                                <li><!-- LANGUAGE SWITHCER -->
                                    <select onchange="switchLanguage(this.value);" style="color: black;">
                                        <option id="EN">EN</option>
                                        <option id="FR" selected>FR</option>
                                    </select>
                                </li>
                            </ul>

                        </nav>
                    </div>

                </div>
            </header>
            <!-- /Top Nav -->
        </div>

    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 35px; font-style: bold; text-align: center;">Bâtiments Corporatifs</p>
    <div>
        <center>
            <img class="center" style="display: inline-block;" src="../assets/thirdSlide.jpeg" alt="Corporate building image" width="400">
            <img class="center" style="display: inline-block;" src="../assets/corporateBuilding.jpeg" alt="Corporate building image" width="400" height="301">
            <img class="center" style="display: inline-block;" src="../assets/corporateBuilding2.jpeg" alt="Corporate building image" width="400" height="301">
            <br><br>
            <div>
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: black;">
                    Quand il s'agit de moderniser et d'embellir des bâtiments, c'est l'aspect extérieur qui nous vient à l'esprit en premier. <br> Avec notre plan d'ascenseur de bâtiment d'entreprise, chaque voyage sera un rappel du succès autour de vous. <br> Nos ascenseurs sont les plus sûrs, les plus rapides et les plus fiables de l'industrie et nous avons l'intention de garder cette réputation; <br> avec notre service client extraordinaire et notre efficacité, qualité et rapidité remarquables, <br> vous serez sûrs que Rocket Elevators se soucie vraiment de chacun de ses clients et de ses projets.
                </p>
                <br>
                <a target="_blank" href="../formulairesdesoumission/new?prefill=Corporatif" class="btn btn-default">ESTIMATION DE PRIX</a target="_blank">
            </div>
        </center>
        <div class="container h-150"></div>
    </div>
    <section id="footer">
        <div class="container h-350">
            <div class="row">
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <img class="footer-logo" src="../assets/R2.png" alt="Rocket Elevators logo"
                        width="250" />

                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                725 Boulevard Lebourgneuf, Québec, QC G2J 0C4<br>
                            </li>
                            <li class="footer-sprite phone">
                                Téléphone <a href="tel:581-701-0303">(581) 701-0303</a>
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-2">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">EXPLORER ROCKET ELEVATORS</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="../fr">Page d'Accueil</a></li>
                        <li><a href="../fr#services">Nos Services</a></li>
                        <li><a href="../fr#clients">Nos Clients</a></li>
                        <li><a href="../fr#contact">Contactez Nous</a></li>
                    </ul>
                    <!-- /Links -->

                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                &copy; Tous Droits Réservés, Rocket Elevators LTD
            </div>
        </div>
        </div>
    </section>
</div>
		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/';</script>
		
</body>