<head>
    <title><%= @page_title %></title>
    <meta name="description" content="Rocket Elevators - Price Estimate Form" />
    <meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
	
    
    <script>
        function switchLanguage(value) {
            document.cookie = value;
             var link = '../formulairesdesoumission';
            if (window.location.href.indexOf("prefill") > -1) {
                var prefill = window.location.href.split("prefill=")[1];
                if (prefill === "Residential") link += "?prefill=Residentiel";
                else if (prefill === "Commercial") link += "?prefill=Commercial";
                else if (prefill === "Corporate") link += "?prefill=Corporatif";
                else if (prefill === "Hybrid") link += "?prefill=Hybride";
            }
            if (value === "FR") document.location.href = link;
            else return;
        }
    </script>
</head>
<div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left" href="../en">
                <img src="../assets/R2.png" alt="Rocket Elevator Logo">
            </a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li class="active hovered"><!-- HOME -->
                            <a style="color: rgb(255,255,255);" href="../en">
                                HOME
                            </a>
                        </li>
                        <li class="hovered"><!-- SERVICES -->
                            <div class="dropdown dropbtn rotate">
                                <a class="h-25" style="color: rgb(255,255,255);" href="../en#services">
                                    SERVICES &nbsp; <i class="fa fa-angle-right"></i>
                                </a>
                                <div class="dropdown-content">
                                    <a href="../en/residential-buildings.html">Residential Buildings</a>
                                    <a href="../en/corporate-buildings.html">Corporate Buildings</a>
                                </div>
                            </div>
                        </li>
                        <li class="hovered"><!-- AWARDS -->
                            <a style="color: rgb(255,255,255);" href="../en#awards">
                                AWARDS
                            </a>
                        </li>
                        <li class="hovered"><!-- NEWS -->
                            <a style="color: rgb(255,255,255);" href="../en#news">
                                NEWS
                            </a>
                        </li>
                        <li class="hovered"><!-- CLIENTS -->
                            <a style="color: rgb(255,255,255);" href="../en#clients">
                                CLIENTS
                            </a>
                        </li>
                        <li class="hovered"><!-- CONTACT -->
                            <a style="color: rgb(255,255,255);" href="../en#contact">
                                CONTACT
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
  <!-- /Top Nav -->
</div>
<h1 align="center"><%= @title %></h1>
<title><%= @page_title %></title>
<h3 align="center">Your saved forms:<br></h3>
<div align="center">
    <% @forms.each do |form| %>
        <%= button_to "Form #" + form.id.to_s, "/submissionforms/" + form.id.to_s, :class => "btn btn-flat", :title => form.updated_at, :method => "get", :style => "display: inline; white-space: nowrap;", form: {:style => "display: inline;"} %>
    <% end %>
</div><br>
<div align="center">
    <a href="./submissionforms/new">
        <button class="btn btn-default">Submit a new form</button>
    </a>
</div>
</a>