<head>
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
    <meta charset="utf-8" />
    <title><%= @page_title %></title>
    <meta name="description" content="Rocket Elevators - Price Estimate Form" />
    <meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" type="text/css" />

	<!-- CORE CSS -->
	<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- REVOLUTION SLIDER -->
	<link href="../assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
	<link href="../assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="../assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="../assets/css/layout.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="../assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/color_scheme/darkblue.css" rel="stylesheet" type="text/css" id="color_scheme" />
        
	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <style>
        .center {
            align: center;
            margin:auto;
            display:block;
        }

        #form {
            font-size: 18px;
            font-family: system-ui;
            text-align: center;
        }

        #residential,
        #commercial,
        #corporate,
        #hybrid {
            display: none;
        }

        #residentialDiv,
        #commercialDiv,
        #corporateDiv,
        #hybridDiv {
            display: none;
        }

        #submitButton {
            background: #0066A2;
            color: white;
            border-style: outset;
            border-color: #0066A2;
            border-radius: 5px;
            height: 25px;
            width: 100px;
            font: bold 15px arial, sans-serif;
            text-shadow: none;
        }

        #submitButton:hover {
            background: rgb(0, 86, 136);
            color: rgb(228, 228, 228);
            cursor: pointer;
        }

        .form-select {
            font-size: 14px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
        }

        body {
            background-color: #f8f8f8;
        }

        .btn-default {
            color: white;
        }

        .btn-default:hover {
            background-color: white !important;
            color: #0b64a0 !important;
        }

        .dropbtn {
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 25);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: rgb(255, 255, 255);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #bbbbbb44;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .hovered:hover {
            background-color: rgba(255, 255, 255, 0.192);
        }

        .rotate:hover i {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

		.sticky {
			position: fixed;
		}
    </style>
    <script>
        function switchLanguage(value) {
            document.cookie = value;
            var link = '../submissionforms';
            if (window.location.href.indexOf("prefill") > -1) {
                var prefill = window.location.href.split("prefill=")[1];
                if (prefill === "Residentiel") link += "?prefill=Residential";
                else if (prefill === "Commercial") link += "?prefill=Commercial";
                else if (prefill === "Corporatif") link += "?prefill=Corporate";
                else if (prefill === "Hybride") link += "?prefill=Hybrid";
            }
            if (value === "EN") document.location.href = link;
            else return;
        }
    </script>
</head>
<div class="enable-animation">
    <!-- wrapper -->
    <div id="wrapper">
        <div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <a class="logo float-left" href="https://rocketelevatorsil.com">
                        <img src="assets/images/R2.png" alt="Rocket Elevator Logo">
                    </a>
                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">
                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                                <li class="active hovered"><!-- HOME -->
                                    <a style="color: rgb(255,255,255);" href="./index-fr.html">
                                        PAGE D'ACCUEIL
                                    </a>
                                </li>
                                <li class="hovered"><!-- SERVICES -->
                                    <div class="dropdown dropbtn rotate">
                                        <a class="h-25" style="color: rgb(255,255,255);" href="https://rocketelevatorsil.com/fr.html#services">
                                            SERVICES &nbsp; <i class="fa fa-angle-right"></i>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="./batiments-residentiels.html">Bâtiments Résidentiels</a>
                                            <a href="./batiments-corporatifs.html">Bâtiments Corporatifs</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="hovered"><!-- ATTRIBUTIONS -->
                                    <a style="color: rgb(255,255,255);" href="./index-fr.html#attributions">
                                        ATTRIBUTIONS
                                    </a>
                                </li>
                                <li class="hovered"><!-- NEWS -->
                                    <a style="color: rgb(255,255,255);" href="https://rocketelevatorsil.com/fr.html#actualites">
                                        ACTUALITÉS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CLIENTS -->
                                    <a style="color: rgb(255,255,255);" href="./index-fr.html#clients">
                                        CLIENTS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CONTACT -->
                                    <a style="color: rgb(255,255,255);" href="./index-fr.html#contact">
                                        CONTACT
                                    </a>
                                </li>
                                <li><!-- LANGUAGE SWITHCER -->
                                    <select onchange="switchLanguage(this.value);" style="color: black;">
                                        <option id="EN">EN</option>
                                        <option id="FR" selected>FR</option>
                                    </select>
                                </li>
                            </ul>

                        </nav>
                    </div>

                </div>
            </header>
            <!-- /Top Nav -->
        </div>

        <br><br>
        <a href="./submissionforms/new">
                <button align="center" class="btn btn-default center">Nouveau Formulaire</button>
        </a>