<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Website Down - Error 503</title>
		<link rel="icon" type="image/png" href="https://i.imgur.com/YgEfiVX.png">
		<meta name="description" content="Error 500 Page" />
		<meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" type="text/css" />
		<style>
			.btn-default {
				background-color:white;
				color:black;
			}

			.btn-default:hover {
				background-color:#f3f3f3 !important;
				color:black !important;
			}
		</style>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</head>
	<body class="enable-animation">
		<div style="height: 250px;"></div>
		<!-- wrapper -->
		<div id="wrapper">

			<center>
			<section class="page-header">
				<div class="container">

					<h1>INTERNAL SERVER ERROR - ERROR 500</h1>

				</div>
			</section>

			<section class="section-xlg">
				<div class="container">
					
					<p><strong>Sorry, we're experiencing some server issues!</strong></p>
					<em>(But don't worry, it's not your fault)</em><br><br>
					<button class="btn-default" title="Go back" id="goback" onclick="goBack()">return to previous page</button>
					
				</div>
			</section>
			</center>

		</div>
		<!-- /wrapper -->

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

	</body>
</html>