<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left" href="./en">
            <img src="assets/R2.png" alt="Rocket Elevator Logo">
        </a>
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li class="active hovered"><!-- HOME -->
                        <a style="color: rgb(255,255,255);" href="./en">
                            HOME
                        </a>
                    </li>
                    <li class="hovered"><!-- SERVICES -->
                        <div class="dropdown dropbtn rotate">
                            <a class="h-25" style="color: rgb(255,255,255);" href="./en#services">
                                SERVICES &nbsp; <i class="fa fa-angle-right"></i>
                            </a>
                            <div class="dropdown-content">
                                <a href="./en/residential-buildings">Residential Buildings</a>
                                <a href="./en/corporate-buildings">Corporate Buildings</a>
                            </div>
                        </div>
                    </li>
                    <li class="hovered"><!-- AWARDS -->
                        <a style="color: rgb(255,255,255);" href="./en#awards">
                            AWARDS
                        </a>
                    </li>
                    <li class="hovered"><!-- NEWS -->
                        <a style="color: rgb(255,255,255);" href="./en#news">
                            NEWS
                        </a>
                    </li>
                    <li class="hovered"><!-- CLIENTS -->
                        <a style="color: rgb(255,255,255);" href="./en#clients">
                            CLIENTS
                        </a>
                    </li>
                    <li class="hovered"><!-- CONTACT -->
                        <a style="color: rgb(255,255,255);" href="./en#contact">
                            CONTACT
                        </a>
                    </li>
                    <li class="hovered"><!-- LOGIN --> 
                        <a style="color: rgb(255,255,255);" href="./employees/sign_in">LOGIN</a>
                    </li>
                    <li><!-- LANGUAGE SWITHCER -->
                        <select onchange="switchLanguage(this.value);" style="color: black;">
                            <option id="EN" selected>EN</option>
                            <option id="FR">FR</option>
                        </select>
                    </li>
                </ul>

            </nav>
        </div>

    </div>
</header>