<!DOCTYPE html>
<head>
	
	<title>Rocket Elevators - Residential Building</title>
    <meta name="description" content="Rocket Elevators - Residential Building" />
    <meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
  
  
    <script>
        if (document.referrer.cookie === "EN" && document.location.href != "../en/residential-buildings") {
            document.location.href = "../en/residential-buildings";
        }
        else if (document.referrer.cookie === "FR" && document.location.href != "../fr/batiments-residentiels") {
            document.location.href = "../fr/batiments-residentiels";
        }
        function switchLanguage(value) {
            document.cookie = value;
            if (value === "FR") document.location.href = '../fr/batiments-residentiels';
            else return;
        }
    </script>
</head>
<div class="enable-animation">
    <!-- wrapper -->
    <div id="wrapper">
        <div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <a class="logo float-left" href="../en">
                        <img src="../assets/R2.png" alt="Rocket Elevator Logo">
                    </a>
                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">
                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                                <li class="active hovered"><!-- HOME -->
                                    <a style="color: rgb(255,255,255);" href="../en">
                                        HOME
                                    </a>
                                </li>
                                <li class="hovered"><!-- SERVICES -->
                                    <div class="dropdown dropbtn rotate">
                                        <a class="h-25" style="color: rgb(255,255,255);" href="../en#services">
                                            SERVICES &nbsp; <i class="fa fa-angle-right"></i>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="./residential-buildings">Residential Buildings</a>
                                            <a href="./corporate-buildings">Corporate Buildings</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="hovered"><!-- AWARDS -->
                                    <a style="color: rgb(255,255,255);" href="../en#awards">
                                        AWARDS
                                    </a>
                                </li>
                                <li class="hovered"><!-- NEWS -->
                                    <a style="color: rgb(255,255,255);" href="../en#news">
                                        NEWS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CLIENTS -->
                                    <a style="color: rgb(255,255,255);" href="../en#clients">
                                        CLIENTS
                                    </a>
                                </li>
                                <li class="hovered"><!-- CONTACT -->
                                    <a style="color: rgb(255,255,255);" href="../en#contact">
                                        CONTACT
                                    </a>
                                </li>
                                <li><!-- LANGUAGE SWITHCER -->
                                    <select onchange="switchLanguage(this.value);" style="color: black;">
                                        <option id="EN" selected>EN</option>
                                        <option id="FR">FR</option>
                                    </select>
                                </li>
                            </ul>

                        </nav>
                    </div>

                </div>
            </header>
            <!-- /Top Nav -->
        </div>
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 35px; font-style: bold; text-align: center;">Residential Buildings</p>
    <div>

        <center>
            <img class="center" style="display: inline-block;" src="../assets/residentialBuilding.jpeg" alt="Residential building image" width="400">
            <img class="center" style="display: inline-block;" src="../assets/residentialBuilding2.jpeg" alt="Residential building image" width="400" height="301">
            <img class="center" style="display: inline-block;" src="../assets/residentialBuilding3.jpeg" alt="Residential building image" width="400" height="301">
            <br><br>
            <div>
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: black;">
                    Appartment complex, condominium... you name it. Rocket Elevators has every elevator model in every price range for your building.<br>It is our duty and reputation to fulfill our clients' orders with the best service and support we can offer.<br>Make your building easier to use by your residents with a Rocket Elevator lift.
                </p>
                <br>
                <a target="_blank" href="../submissionforms?prefill=Residential" class="btn btn-default">PRICE ESTIMATION</a target="_blank">
            </div>
        </center>
        <div class="container h-150"></div>
    </div>
        <section id="footer">
        <div class="container h-350">
            <div class="row">
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <img class="footer-logo" src="../assets/R2.png" alt="Rocket Elevators logo"
                        width="250" />

                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                725 Boulevard Lebourgneuf, Québec, QC G2J 0C4<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: <a href="tel:581-701-0303">(581) 701-0303</a>
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-2">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">EXPLORE ROCKET ELEVATORS</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="../en">Home</a></li>
                        <li><a href="../en#services">Our Services</a></li>
                        <li><a href="../en#clients">Our Clients</a></li>
                        <li><a href="../en#contact">Contact Us</a></li>
                    </ul>
                    <!-- /Links -->

                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                &copy; All Rights Reserved, Rocket Elevators LTD
            </div>
        </div>
        </div>
    </section>
    </div>

</body>