<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevators</title>
    <%= favicon_link_tag("https://i.imgur.com/WjtYVAr.png", rel: "icon", type: "image/png") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
