<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevators</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
  </head>

  <body>
<<<<<<< HEAD
         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
=======
>>>>>>> master
    <%= yield %>
  </body>
</html>
